{% extends 'core/base.html' %}
{% block title %}Acerca de{% endblock %}

{%load static%}
{%block background %}{% static 'core/img/aboutRSapp-bg.jpg' %}{%endblock%}
{%block headers %}
<h1>Acerca de</h1>
<span class="subheading">Remote Sensing</span>
{%endblock%}

{% block content %}
    <div class="container">
      <div class="row">   
        <div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="{% static 'core/img/logo-bg.jpg'%}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
        </br>
          <h2 class="section-heading">Remote Sensing Web Application</h2>   
          <p align="justify">Remote Sensing, es una aplicación web orientada al procesamiento de imágenes hiperespectrales (HSI) por medio de técnicas de Deep Learning (DL).</p>
          <p align="justify">La aplicación permite procesar algunas de las HSI más conocidas y comúnmente utilizadas por la comunidad investigativa. A través de un formulario, el usuario tiene la capacidad de ejecutar sobre una imagen seleccionada, modelos previamente entrenados de DL orientados a reducción dimensional, extracción de características y extracción de información. </p>
        </div>
      </div>  
    </div>
{% endblock%}