{% extends 'core/base.html' %}
{% block title %}Contacto{% endblock %}
{%load static%}
{%block background %}{% static 'core/img/contactRSapp-bg.jpg' %}{%endblock%}
{%block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoría</span>
{%endblock%}
{% block content %}
    <!-- Contenido Principal -->
    <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p align="justify">En caso de alguna inquietud, comentario o solicitud de asesoría por favor ponerse en contacto por cualquiera de los siguentes medios:</p>
            <br>
            <p><b>Teléfono:</b> +57 311 xxx xx xx </p>
            <p><b>email:</b> ruiz.david@correounivalle.edu.co</p>
          </div>
        </div>
      </div>
{% endblock%}