{% extends 'core/base_creative_us.html' %}

{%load static%}
{% block title %}Remote Sensing Web{% endblock %}

{% block content %}

 <!-- Masthead -->
  <header class="masthead" style="background-image: url('{% static 'core/img/datasets-bg.jpg' %}')">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">Remote Sensing</h1>
          <h4 class="text-uppercase text-white font-weight-bold">Universidad del Valle</h4>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5">Web application for hyperspectral images processing, oriented to the classification of regions such as vegetation, crops and urban environments.</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find out More</a>
        </div>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section class="page-section bg-primary" id="about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-white mt-0">Remote Sensing Web Application</h2>
          <hr class="divider light my-4">
          <p class="text-white-50 mb-4">Remote Sensing, is a web application oriented to the processing of hyperspectral images (HSI) using Deep Learning (DL) modeles.</p>
          <p class="text-white-50 mb-4">The application allows to process some of the most known and commonly used HSI by the research community. Through a form, the user has the ability to execute over a selected image, previously trained DL models oriented to dimensional reduction, feature extraction and information extraction.</p>
          <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Services Section -->
  <section class="page-section" id="services">
    <div class="container" >
      <h2 class="text-center mt-0">Available Services</h2>
      <hr class="divider my-4">
      <div class="row">
        <div class="col-lg-4 col-md-6 text-center">
          <div class="mt-5">
            <a href = "{% url 'processing_us'  parametro='Execute Model' %}">
              <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
            </a>
            <h3 class="h4 mb-2">HSI Processing</h3>
            <p class="text-muted mb-0">Process a database HSI using a deep trained network.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="mt-5">
            <a href = "{% url 'processing_us'  parametro='Train New Model' %}">
              <i class="fas fa-4x fa-chart-area text-primary mb-4"></i>
            </a>
            <h3 class="h4 mb-2">HSI Training</h3>
            <p class="text-muted mb-0">Train a new deep network model to process a database HSI.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="mt-5">
            <a href = "{% url 'upload_us' %}">
              <i class="fas fa-4x fa-database text-primary mb-4"></i>
            </a>
            <h3 class="h4 mb-2">HSI Loading</h3>
            <p class="text-muted mb-0">Load a new HSI and generate a deep network trained model.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Portfolio Section 
  <section id="portfolio">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="{% static 'core/img/portfolio/fullsize/1.jpg' %}">
            <img class="img-fluid" src="{% static 'core/img/portfolio/thumbnails/1.jpg' %}" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="{% static 'core/img/portfolio/fullsize/2.jpg' %}">
            <img class="img-fluid" src="{% static 'core/img/portfolio/thumbnails/2.jpg' %}" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="{% static 'core/img/portfolio/fullsize/3.jpg' %}">
            <img class="img-fluid" src="{% static 'core/img/portfolio/thumbnails/3.jpg' %}" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="{% static 'core/img/portfolio/fullsize/4.jpg' %}">
            <img class="img-fluid" src="{% static 'core/img/portfolio/thumbnails/4.jpg' %}" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="{% static 'core/img/portfolio/fullsize/5.jpg' %}">
            <img class="img-fluid" src="{% static 'core/img/portfolio/thumbnails/5.jpg' %}" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="{% static 'core/img/portfolio/fullsize/6.jpg' %}">
            <img class="img-fluid" src="{% static 'core/img/portfolio/thumbnails/6.jpg' %}" alt="">
            <div class="portfolio-box-caption p-3">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  -->
  
  <!-- Call to Action Section -->
  <section class="page-section bg-dark text-white" id="descargar">
    <div class="container text-center">
      <h2 class="mb-4">Download the Repository of the Project!</h2>
      <a class="btn btn-light btn-xl" href="https://github.com/davidruizhidalgo/unsupervisedRemoteSensing">Download now</a>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">Let's get in touch!</h2>
          <hr class="divider my-4">
          <p class="text-muted mb-5">In case of any concern, comment or request for advice you can contact us by any of the following means:</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
          <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
          <div>+57 (311) 123-4567</div>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
          <!-- Make sure to change the email address in anchor text AND the link below! -->
          <a class="d-block" href="ruiz.david@correounivalle.edu.co">ruiz.david@correounivalle.edu.co</a>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}
